<!-- SHIVANSH THATAI -->
<!-- 301315023 -->
<!-- Oct 3, 2023 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="homepage.css" />
    <link rel="icon" href="images/logo.png" type="image/x-icon"/>
    <title>Shivansh Thatai</title>
  
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,100;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 140vh;
  min-width: 100vw;
  background: rgb(111, 146, 146);
  padding-bottom: 50px;
  background-image: url("gradient.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  
}

h1 {
  color: cornsilk;
  font-size: 50px;
  padding: 40px 70px;
}
.soft{
  color: purple;
  margin-top:50px;
  
}
h1 span {
  font-style: italic;
}

h1 span:hover {
  color: purple;
  opacity: 0.8;
  transition: color 0.3s ease;
}

.top {
  padding: 50px;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
}


.topleft,
.topright {
  display: flex;
}

.topright {
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}
.topleft img{
  width: 100px;
  height: 100px;
  filter: brightness(0);

}
.topright a {
  text-decoration: none;
  color: cornsilk;
}

.topright a:hover {
  color: purple;
  opacity: 0.8;
  transition: color 0.3s ease;
}

.carddiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card img{
  width: 50vw;
  height: 70vw;
  z-index: -11;
  opacity: 0.4;
  margin-bottom: -850px;
  align-content: center;
  margin-top: 50px;
  margin-right: 100px;
}


.two {
  color: cornsilk;
  padding: 25px 35px;
  font-size: 30px;
  text-align: center;
  word-spacing: 3px;
}

.three {
  text-align: center;
  margin-bottom: 120px;
}
.three button{
  word-spacing: 3px;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #0000002a;
}
.three a{
  color: rgb(241, 225, 164);
  text-decoration: none;
  
}

.four {
  grid-area: four;
  text-align: center;
}
.four p{
  font-size: 35px;
}
.four a{
font-size: 18px;
color: rgb(241, 225, 164);
text-decoration: none;
}
.four a:hover {
  color: purple;
  opacity: 0.8;
  transition: color 0.3s ease;
}
hr {
  background: #000;
  border: none;
  color: #1a1a1a;
  height: 0.5px;
  margin: auto;
  text-align: center;
  width: 90vw;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 70px;
  padding: 30px 40px;
}
.footer p{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.social-media {
  display: flex;
}
.social-media img {
  height: 3vw;
  filter: brightness(0);
  padding: 5px 3px;
}
.social-media img:hover {
  filter: brightness(1);
}
    </style>
  </head>
  <body>

    
    <div class="top">
      <div class="topleft">
        <img src="images/logo.png" alt="Logo">
      </div>
      <div class="topright">
        <b><a href="/">Home</a></b>
        <b><a href="/about">About</a></b>
        <b><a href="/services">Services</a></b>
        <b><a href="/projects">Projects</a></b>
        <b><a href="/contacts">Contact</a></b>
      </div>
    </div>
    <div class="card">
      <img src="images/me.png" alt="">
    
    <div class="carddiv">
      <h1>HI, My Name is Shivansh Thatai</h1>
      <h1 class="soft">I'm a Software Developer</h1> 
        </div><br><br><br>

         <div class="two">
          <h3>I build solutions for the Web</h3>
        </div>
        <div class="three">
          <button><a href="/contacts">Let's Connect</a></button>
        </div>
        
        
        <div class="four">
          <b><p>Contact me</p></b>
          <br>
          <i></i><a href="tel:+1 123-456-7890">+1 123-456-7890</a></i><br>
          <i><a href="mailto:shivanshthatai7@gmail.com">shivanshthatai7@gmail.com</a></i>
          <br>
          <br>
        </div>

      </div>
    </div> 
    <hr />
    <div class="footer">
      <div>
      <p>&copy; SHIVANSH THATAI</p></div>
      <div class="social-media">
        <a href="https://www.instagram.com/valorous_soul/?hl=en" target="blank"
          ><img src="./images/instagram.png" alt=""
        /></a>
        <a href="https://ca.linkedin.com/in/shivansh-thatai-0a103a242" target="blank"
          ><img src="./images/linkedin.png" alt=""
        /></a>
      </div>

    </div></div>
  </body>
</html>
